type gx_fpd, domain;
type gx_fpd_exec, exec_type, file_type;

init_daemon_domain(gx_fpd)
binder_use(gx_fpd)

allow gx_fpd gx_fpd_service:service_manager { add find };

use_keystore(gx_fpd)
allow gx_fpd keystore:keystore_key { add_auth };

binder_call(gx_fpd, system_server);
allow gx_fpd permission_service:service_manager find;

allow gx_fpd tee_device:chr_file { read write ioctl open };

allow gx_fpd gx_fpd_data_file:file { create_file_perms };
allow gx_fpd gx_fpd_data_file:dir rw_dir_perms;

allow gx_fpd gx_fpd_data_file:dir create_dir_perms;
allow gx_fpd gx_fpd_data_file:sock_file { create unlink };
